@import "tailwindcss";


:root {
  --light-color: #FFFAF0;
  --dark-color: #10100E;

  --color-bg-body: #FFFAF0;
  --color-text-default: #10100E;
}

.dark {
  --color-bg-body: #10100E;
  --color-text-default: #FEF7E7;
}

@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('../public/fonts/GeneralSans-Variable.woff2') format('woff2'),
    url('../public/fonts/GeneralSans-Variable.woff') format('woff');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Recia-Variable';
  src: url('../public/fonts/Recia-Variable.woff2') format('woff2'),
    url('../public/fonts/Recia-Variable.woff') format('woff');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

@layer base {
  body {
    background-color: var(--color-bg-body);
    color: var(--color-text-default);
    font-family: 'Recia-Variable', sans-serif;
    font-weight: 400;
  }

  h1 {
    font-family: 'GeneralSans-Variable', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
  }

  p {
    color: var(--color-text-default);
    font-family: 'Recia-Variable', serif;
    font-weight: 400;
  }

  /* Mobile breakpoint */
  @media (min-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  }

  @media (min-width: 1116px) {
    h1 {
      font-size: 2.25rem;
    }
  }
}
